# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml

# scala build folders
target

# dotfiles
.dockerignore
.editorconfig

# standalone docker
!Dockerfile

# local application.conf
local-application.conf
*-local.conf
my*.conf

# logs
*.log
*.log.gz
*.tmp

# binary files
*.pdf
*.gz

# db files
*.data
ergo/

# for temporary experiments
sheet.scala
project/project/



