language: scala
jdk:
- oraclejdk9
scala:
- 2.12.4
script:
-  sbt test
branches:
  only:
    - master
    - /^\d\.\d+$/
# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
